**/__pychache__
database.db
pruebas.py
plantilla.py
**/modules/database.db
**/html
__pycache__/mantenimientos.cpython-310.pyc
modules/__pycache__/sql.cpython-310.pyc
modules/__pycache__/sql.cpython-310.pyc
modules/__pycache__/inventory.cpython-310.pyc
modules/__pycache__/sql.cpython-310.pyc
base de datos compras.odg
modules/__pycache__/sql.cpython-310.pyc
pruebas.py
prueba.pdf
todo.txt
modules/__pycache__/pdf.cpython-310.pyc
modules/__pycache__/sql.cpython-310.pyc
Requisicion 2.pdf
modules/__pycache__/sql.cpython-310.pyc
base de datos compras.odg
pruebas.py
todo.txt
