body {
	background-color: rgb(240, 240, 240);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 14pt;
	font-weight: 600;
}

label {
	font-size: 10pt;
	color: rgb(50, 50, 50);
}

legend {
	font-size: 10pt;
	color: rgb(50, 50, 50);
}

fieldset {
	border: solid 1px rgb(200, 200, 200);
	display: inline-block;
}

.container {
	background-color: rgb(255, 255, 255);
	display: inline-block;
	margin: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgb(200, 200, 200);
	border-bottom: solid 5px rgb(240, 240, 240);
}

.maintenance {
	background-color: rgb(255, 255, 255);
	display: inline-block;
	margin: 8px;
	width: 300px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgb(200, 200, 200);
	border-bottom: solid 5px rgb(240, 240, 240);
}

.maintenance .type {
	color: rgb(117, 117, 117);
	font-size: 8pt;
	text-align: left;
	display: block;
	font-style: italic;
	margin: 5px;
}

.maintenance .date {
	color: rgb(117, 117, 117);
	font-size: 10pt;
	text-align: left;
	display: inline;
}

.maintenance .status {
	color: rgb(117, 117, 117);
	font-size: 10pt;
	text-align: right;
	display: inline;
	align-items: flex-end;
	margin-left: 130px;
}

.maintenance .responsible {
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 700;
	text-align: left;
	display: block;
}

.maintenance .comment {
	color: rgb(30, 30, 30);
	font-size: 12pt;
	text-align: left;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.maintenance .activities {
	list-style-type: none;
	padding-left: 0px;
}

.maintenance .activities li {
	border-top: solid 1px rgb(200, 200, 200);
	padding-top: 8px;
	padding-bottom: 8px;
}

.maintenance .activities .name {
	color: rgb(30, 30, 30);
	font-size: 10pt;
	font-weight: 700;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.maintenance .activities .description {
	color: rgb(60, 60, 60);
	font-size: 10pt;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.maintenance button{
	padding: 5px;
	cursor: pointer;
	margin: 4px;
	font-size: 9pt;
	border: none;
	border-radius: 5px;
}

.maintenance .normal{
	background-color: rgb(3, 137, 182);
	color: rgb(255, 255, 255);
}

.maintenance .delete {
	background-color: rgb(193, 11, 15);
	color: rgb(255, 255, 255);
}

.plant {
	background-color: rgb(255, 255, 255);
	display: block;
	margin: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgb(200, 200, 200);
	border-bottom: solid 5px rgb(240, 240, 240);
}

.plant .left-frame {
	display: inline-block;
}

.plant .right-frame {
	display: inline-block;
	float: right;
	align-items: flex-end;
}

.plant .name {
	color: rgb(30, 30, 30);
	font-size: 14pt;
	font-weight: 700;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.plant .description {
	color: rgb(60, 60, 60);
	font-size: 12pt;
	font-style: italic;
	text-align: left;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.plant .department {
	color: rgb(120, 120, 120);
	font-size: 10pt;
	text-align: left;
	display: inline;
	margin-bottom: 10px;
	margin-top: 10px;
}

.plant .area {
	color: rgb(50, 50, 50);
	font-size: 10pt;
	text-align: left;
	display: inline;
	margin-bottom: 10px;
	margin-top: 10px;
}

.plant .area-description {
	color: rgb(120, 120, 120);
	font-size: 10pt;
	text-align: left;
	display: inline;
	margin-bottom: 10px;
	margin-top: 10px;
}

.plant .responsible {
	color: rgb(80, 80, 80);
	font-size: 11pt;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 20px;
}

.plant .last-maintenance {
	color: rgb(120, 120, 120);
	font-size: 10pt;
	text-align: right;
	display: block;
}

.plant button{
	padding: 5px;
	cursor: pointer;
	margin: 4px;
	font-size: 9pt;
	border: none;
	border-radius: 5px;
	display: block;
}

.plant .normal{
	background-color: rgb(3, 137, 182);
	color: rgb(255, 255, 255);
}

.plant .editar{
	background-color: rgb(94, 185, 26);
}
