.numberInput {
	width: 40px;
}

fieldset {
	display: block;
	padding: 15px;
	border-radius: 10px;
	border: 2px solid #eee;
	text-align: center;
}

legend {
	margin: auto;
	color: #aaa;
}

input {
	font-family: 'Roboto', sans-serif;
	
}

textarea{
	width: 100%;
	height: 5em;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
}