.menu {
	background-color: white;
	width: fit-content;
	margin: 0;
    padding: 0;
    display: fixed;
    height: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(92, 92, 92);
    font-size: 11pt ;
    font-weight: 500;
}

.menu li {
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.menu li:hover {
    background-color: rgb(247, 247, 247);
}